# Assignment - Jinxuan Lu

1.	Use the constructor methods & object literals to create different data types in python (integer,float,string,list,tuple,dictionary,set etc.).Also use object literals to create those data types.

In [2]:
#integer
x = int(5)
y = 5

In [3]:
#float
x = float(3.5)
y = 3.14

In [ ]:
#string
x = str("My name is Jinxuan")
y = "My name is Jinxuan."

In [5]:
#list
x = list(("blue","red","yellow"))
y = ["blue","red","yellow"]

['blue', 'red', 'yellow']

In [8]:
#tuple
x = tuple(("Tom","Jerry","Marry"))
y = ("Tom","Jerry","Marry") # or y = (1,2,3,4,5)

('Tom', 'Jerry', 'Marry')

In [ ]:
#dictionary
x = dict(name = "Tom", gender = "male", age = 30)
y = {"name": "Tom", "gender": "male", "age": 36}

In [ ]:
#set
x = set(("blue", "red", "yellow"))
y = {"blue", "red", "yellow"}

2. Create two operands and play around using different operators

In [12]:
x = 5
y = 2

In [13]:
#Arithmetic operators
print("x + y =", x + y)
print("x - y =", x - y)
print("x * y =", x * y)
print("x / y =", x / y)
print("x % y =", x % y)
print("x ** y =", x ** y)
print("x // y =", x // y)

x + y = 7
x - y = 3
x * y = 10
x / y = 2.5
x % y = 1
x ** y = 25
x // y = 2

In [21]:
#comparison operators
print("x != y: ", x != y)
print("x >= y: ", x >= y)
print("x <= y: ", x <= y)

x != y:  True
x >= y:  True
x <= y:  False

In [22]:
#logical operators
x = True
y = False
print("x or y: ", x or y)

x or y:  True

3. Once you create an object of each data type, run dir(object). Navigate the magic methods/dunder methods and other methods and attributes of each object. Try to implement those methods and attributes as many as possible.

In [37]:
#integer
x = 5
print(dir(x))
print(type(x))
print(isinstance(x, int)) 
print(x.__add__(9)) 
print(x + 9) 
print(x.__mul__(9)) 
print(x * 9)

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']
<class 'int'>
True
14
14
45
45

In [39]:
#string
y = str("hello")
print(dir(y))
print(type(y)) 
print(isinstance(y, str)) 
print(y.__add__(" python")) 
print(y + " python") 
print(y.__len__()) 
print(len(y))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
<class 'str'>
True
hello python
hello python
5
5

4. Learn different ways to format the string.

In [40]:
print("I love", "python")
print("I love" + " python")
print("I love"+ " python" + " version",3.10)
print("I love"+ " python" + " version %.2f"%3.10)
print("I love %s version %.2f"%("python",3.10))

I love python
I love python
I love python version 3.1
I love python version 3.10
I love python version 3.10
I love python version 3.1

In [43]:
#using format positional argument
print("I love {} version {}".format("python", 3.10))
print("I love {} version {}".format("python", "3.10"))
print("I love {} version {:.2f}".format("python", 3.10))
print("I love {1} version of {0}".format("python", "3.10"))

I love python version 3.1
I love python version 3.10
I love python version 3.10
I love 3.10 version of python

In [46]:
#using format keyword argument
print("I love {pl} version {version:.2f}".format(pl="python", version=3.10))

I love python version 3.10

In [49]:
#using f-string literal
info={"pl":"python","version":3.10}
print(f"I love {info.get('pl')} version {info.get('version'):.2f}")

print(F'I love {info["pl"]} version {info["version"]:.2f}')

#f-string conditional
batch='ML'
print(f'I love {"javascript" if batch=="FS" else "python"}')

I love python version 3.10
I love python version 3.10
I love python

5.	Familiarize yourself with indexing in python.Iterables can be accessed using index values in python. Eg: list, tuple,dict, set 

a.	Create a list of items. Eg:countries= [“Finland”,“Sweden”,”Denmark”,”Netherlands”,”Germany”,”Norway”,”Iceland”]

b.	Find the index of “Sweden”. 

c.	Get all the items except the first

d.	Get all the items except the last

e.	Find the last item using negative indexing

f.	Find the last three item using negative indexing

g.	Grab all the items with odd indices

h.	Find the first and last item for the list

i.	Get [”Netherlands”,”Germany”,”Norway”] using negative indexing

j.	Reverse the list

k.	What is the output of countries[::-2]

l.	What is the output of countries[1:100:2]?

m.	What is the output of countries[len(countries)-1:0:2]?

n.	Get the output ['Germany', 'Netherlands', 'Denmark']

o.	Use enumerate method to get index and values in the list

In [71]:
#a
countries = ["Finland","Sweden","Denmark","Netherlands","Germany","Norway","Iceland"]

b = countries.index("Sweden")
print(b)

c = countries[1:]
print(c)

d = countries[:-1]
print(d)

e = countries[-1]
print(e)

f = countries[-3: ]
print(f)

g = countries[1::2]
print(g)

h1 = countries[0]
h2 = countries[-1]
print(h1, h2)

i = countries[-4:-1]
print(i)

j = countries[::-1]
print(j)

k = countries[::-2]
print(k) #['Iceland', 'Germany', 'Denmark', 'Finland']

l = countries[1:100:2]
print(l) #['Sweden', 'Netherlands', 'Norway']

m = countries[len(countries)-1:0:2]
print(m) #[]

n = countries[-3:-6:-1]
print(n)

#o
for index, value in enumerate(countries):
    print(index, value)

1
['Sweden', 'Denmark', 'Netherlands', 'Germany', 'Norway', 'Iceland']
['Finland', 'Sweden', 'Denmark', 'Netherlands', 'Germany', 'Norway']
Iceland
['Germany', 'Norway', 'Iceland']
['Sweden', 'Netherlands', 'Norway']
Finland Iceland
['Netherlands', 'Germany', 'Norway']
['Iceland', 'Norway', 'Germany', 'Netherlands', 'Denmark', 'Sweden', 'Finland']
['Iceland', 'Germany', 'Denmark', 'Finland']
['Sweden', 'Netherlands', 'Norway']
[]
['Germany', 'Netherlands', 'Denmark']
0 Finland
1 Sweden
2 Denmark
3 Netherlands
4 Germany
5 Norway
6 Iceland

6. Exercise on dictionaries

a.	Given the two lists of same length, create a dictionary using a list as keys and another list as values without using loop. Eg: ["a","b","c","d"],[1,2,3,4] lists should be made {'a': 1, 'b': 2, 'c': 3, 'd': 4}
Hint: zip method

b.	Create two dictionaries, merge them into one.
Hint: update method/dictionary unpacking

c.	Given the list of students, assign them the course.
Students=[“Duy”, “Laxmi”,”Antonio”,”Maria”]
Course["Python","Database","ML"] 
Should result to the new dictionary students_profile=
{'Duy': ['Python', 'Database', 'ML'], 'Laxmi': ['Python', 'Database', 'ML'],
 'Antonio': ['Python', 'Database', 'ML'],'Maria': ['Python', 'Database', 'ML']}

d.	Modify Antonio’s course to ["JavaScript","Database","NodeJS"]

e.	Add “ReactJs” to Anonio’s course

f.	Replace Antonio’s “ReactJs” to “Vuejs”

g.	Remove an item from dictionary

In [80]:
keys = ["a", "b", "c", "d"]
values = [1, 2, 3, 4]
a = dict(zip(keys, values))
print(a)

dict1 = {"x": 3, "y": 4}
dict2 = {"m": 1, "n": 9}
dict1.update(dict2)
print(dict1)

students = ["Duy", "Laxmi", "Antonio", "Maria"]
course = ["Python","Database","ML"] 
students_profile = {student: course for student in students}
print(students_profile)

students_profile["Antonio"] = ["JavaScript", "Database", "NodeJS"]
print(students_profile)

students_profile["Antonio"].append("ReactJs")
print(students_profile)

students_profile["Antonio"][3] = "Vuejs"
print(students_profile)

del students_profile["Duy"]
print(students_profile)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'x': 3, 'y': 4, 'm': 1, 'n': 9}
{'Duy': ['Python', 'Database', 'ML'], 'Laxmi': ['Python', 'Database', 'ML'], 'Antonio': ['Python', 'Database', 'ML'], 'Maria': ['Python', 'Database', 'ML']}
{'Duy': ['Python', 'Database', 'ML'], 'Laxmi': ['Python', 'Database', 'ML'], 'Antonio': ['JavaScript', 'Database', 'NodeJS'], 'Maria': ['Python', 'Database', 'ML']}
{'Duy': ['Python', 'Database', 'ML'], 'Laxmi': ['Python', 'Database', 'ML'], 'Antonio': ['JavaScript', 'Database', 'NodeJS', 'ReactJs'], 'Maria': ['Python', 'Database', 'ML']}
{'Duy': ['Python', 'Database', 'ML'], 'Laxmi': ['Python', 'Database', 'ML'], 'Antonio': ['JavaScript', 'Database', 'NodeJS', 'Vuejs'], 'Maria': ['Python', 'Database', 'ML']}
{'Laxmi': ['Python', 'Database', 'ML'], 'Antonio': ['JavaScript', 'Database', 'NodeJS', 'Vuejs'], 'Maria': ['Python', 'Database', 'ML']}